<div
    style="border-radius: 20px;border-width: 2px;border-style: solid;background: linear-gradient({{bg_0}} 0%, {{bg_1}} 100%); color:{{fg_0}};">
    {{image|safe}}
    <h1>{{title}}</h1>
    <style>
.custom-button:hover {
  background-color: {{btn_fg}} !important;
  color: {{btn_bg}} !important;
}
    </style>

    <div class="addresses">
        {{addresses|safe}}
    </div>

    <div class="social-div">
        <ul class="list-unstyled social-list">
            {{socials|safe}}
        </ul>        
    </div>
    <div>
        {{links|safe}}
    </div>
</div>