<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>HNS Links</title>
    <meta name="twitter:title" content="HNS Links">
    <meta name="twitter:image" content="https://links.hns.au/assets/img/dashboard.png">
    <meta name="twitter:card" content="summary">
    <meta property="og:type" content="website">
    <meta property="og:title" content="HNS Links">
    <meta name="description" content="Create a links page for your domain">
    <meta property="og:description" content="Create a links page for your domain">
    <meta property="og:image" content="https://links.hns.au/assets/img/dashboard.png">
    <meta name="twitter:description" content="Create a links page for your domain">
    <link rel="icon" type="image/png" sizes="600x627" href="/assets/img/favicon.png">
    <link rel="icon" type="image/png" sizes="600x627" href="/assets/img/favicon.png">
    <link rel="icon" type="image/png" sizes="600x627" href="/assets/img/favicon.png">
    <link rel="icon" type="image/png" sizes="600x627" href="/assets/img/favicon.png">
    <link rel="icon" type="image/png" sizes="600x627" href="/assets/img/favicon.png">
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap">
    <link rel="stylesheet" href="/assets/css/styles.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<script async src="https://umami.woodburn.au/script.js" data-website-id="a165bb1c-eef8-4737-8066-fcd8b4a380bd"></script>
</head>

<body style="text-align: center;"><script>
    function redirect() {
        setTimeout(function() {
            window.location.href = '/site';
        }, 4000);
    }
    redirect();
</script>
<img src="/assets/img/favicon.png" width="128px">
    <h1 style="text-align: center;">Publishing...</h1>
    <p>We are generating you SSL certificates and adding your site to our webserver.<br>We will redirect you when your site is ready.</p>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://auth.varo.domains/v1"></script>
    <script src="/assets/js/script.min.js"></script>
</body>

</html>