<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - HNS Links</title>
    <meta name="twitter:title" content="HNS Links">
    <meta name="twitter:image" content="https://links.hns.au/assets/img/dashboard.png">
    <meta name="twitter:card" content="summary">
    <meta property="og:type" content="website">
    <meta property="og:title" content="HNS Links">
    <meta name="description" content="Create a links page for your domain">
    <meta property="og:description" content="Create a links page for your domain">
    <meta property="og:image" content="https://links.hns.au/assets/img/dashboard.png">
    <meta name="twitter:description" content="Create a links page for your domain">
    <link rel="icon" type="image/png" sizes="600x627" href="/assets/img/favicon.png">
    <link rel="icon" type="image/png" sizes="600x627" href="/assets/img/favicon.png">
    <link rel="icon" type="image/png" sizes="600x627" href="/assets/img/favicon.png">
    <link rel="icon" type="image/png" sizes="600x627" href="/assets/img/favicon.png">
    <link rel="icon" type="image/png" sizes="600x627" href="/assets/img/favicon.png">
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap">
    <link rel="stylesheet" href="/assets/css/styles.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<script async src="https://umami.woodburn.au/script.js" data-website-id="a165bb1c-eef8-4737-8066-fcd8b4a380bd"></script>
</head>

<body>
    <nav class="navbar navbar-expand-md sticky-top py-3 navbar-dark" id="mainNav">
        <div class="container"><a class="navbar-brand d-flex align-items-center" href="/"><img src="/assets/img/favicon.png" width="45px"><span>&nbsp;HNS Links</span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav mx-auto"></ul><a class="btn btn-primary shadow" role="button" href="/preview" style="margin-right: 10px;">Preview</a><a class="btn btn-primary shadow" role="button" href="/logout">Logout</a>
            </div>
        </div>
    </nav>
    <header class="bg-dark">
        <div class="container pt-4 pt-xl-5">
            <div class="row pt-5">
                <div class="col-md-8 col-xl-6 text-center text-md-start mx-auto">
                    <div class="text-center">
                        <p class="fw-bold text-success mb-2">{{domain}}/</p>
                        <h1 class="fw-bold">Manage your site</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section>
        <div style="padding-top: 25px;padding-bottom: 25px;">
            <div class="container">
                <form method="post" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-md-6">
                            <h1>Content</h1><label class="form-label" style="font-size: 24px;margin-right: 10px;display: block;">Profile Image</label><input class="form-control" type="file" style="margin-bottom: 25px;width: auto;display: inline-block;" name="image"><a class="btn btn-primary" role="button" style="display: inline;padding-top: 8px;padding-right: 12px;padding-bottom: 8px;padding-left: 12px;margin-left: 5px;" href="/image/delete"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-trash3-fill">
                                    <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"></path>
                                </svg></a><label class="form-label" style="font-size: 24px;margin-right: 10px;display: block;">Background Image</label><input class="form-control" type="file" style="margin-bottom: 25px;width: auto;display: inline-block;" name="bg"><a class="btn btn-primary" role="button" style="display: inline;padding-top: 8px;padding-right: 12px;padding-bottom: 8px;padding-left: 12px;margin-left: 5px;" href="/bg/delete"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-trash3-fill">
                                    <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"></path>
                                </svg></a><input class="form-control" type="text" style="margin-bottom: 25px;" name="title" value="{{title}}" placeholder="Title"><label class="form-label" style="font-size: 24px;">Bio</label><textarea class="form-control form-control-sm" name="bio" placeholder="Bio" rows="8" style="margin-bottom: 25px;">{{bio}}</textarea><input class="btn btn-primary" type="submit" value="Save" style="margin-right: 20px;"><a class="btn btn-primary" role="button" href="/publish">Publish</a>
                        </div>
                        <div class="col-md-6">
                            <div style="margin-bottom: 25px;">
                                <h4>Gallery Link</h4><div class="form-check form-switch form-check-inline form-check-reverse"><input id="gallery-link" class="form-check-input" type="checkbox" name="gallery-link"  {% if gallery_link %}checked{% endif %}/><label class="form-check-label" for="formCheck-1" style="font-size: 18px;">Show Gallery Link</label></div>
                            </div>
                            <div style="margin-bottom: 25px;">
                                <h4>Link</h4><input class="form-control" type="text" style="display: inline-block;width: 45%;" name="link_0" value="{{link_0}}" placeholder="Link Name"><input class="form-control" type="text" style="display: inline-block;width: auto;" name="link_0_url" value="{{link_0_url}}" placeholder="Url">
                            </div>
                            <div style="margin-bottom: 25px;">
                                <h4>Link</h4><input class="form-control" type="text" style="display: inline-block;width: 45%;" name="link_1" value="{{link_1}}" placeholder="Link Name"><input class="form-control" type="text" style="display: inline-block;width: auto;" name="link_1_url" value="{{link_1_url}}" placeholder="Url">
                            </div>
                            <div style="margin-bottom: 25px;">
                                <h4>Link</h4><input class="form-control" type="text" style="display: inline-block;width: 45%;" name="link_2" value="{{link_2}}" placeholder="Link Name"><input class="form-control" type="text" style="display: inline-block;width: auto;" name="link_2_url" value="{{link_2_url}}" placeholder="Url">
                            </div>
                            <div style="margin-bottom: 25px;">
                                <h4>Link</h4><input class="form-control" type="text" style="display: inline-block;width: 45%;" name="link_3" value="{{link_3}}" placeholder="Link Name"><input class="form-control" type="text" style="display: inline-block;width: auto;" name="link_3_url" value="{{link_3_url}}" placeholder="Url">
                            </div>
                            <div style="margin-bottom: 25px;">
                                <p>Button Colours</p>
                                <div>
                                    <p style="display: inline-block;">Background</p><input class="form-control form-control-color" type="color" style="display: inline-block;margin-left: 25px;height: 2em;" name="btn_bg" value="{{btn_bg}}">
                                </div>
                                <div>
                                    <p style="display: inline-block;">Text</p><input class="form-control form-control-color" type="color" style="display: inline-block;margin-left: 25px;height: 2em;" name="btn_fg" value="{{btn_fg}}">
                                </div>
                            </div><label class="form-label" style="font-size: 24px;margin-right: 10px;display: block;">Gallery Images</label>
                            <div style="margin-bottom: 25px;"><img width="64px" height="64px" src="/images/{{gallery_imgs['0']}}"><input class="form-control" type="file" style="margin-bottom: 25px;width: auto;display: inline-block;" name="gallery_0_img"><a class="btn btn-primary" role="button" style="display: inline;padding-top: 8px;padding-right: 12px;padding-bottom: 8px;padding-left: 12px;margin-left: 5px;" href="/gallery/delete/0"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-trash3-fill">
                                        <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"></path>
                                    </svg></a><input class="form-control" type="text" placeholder="Image Description" name="gallery_0" value="{{gallery_desc['0']}}"></div>
                            <div style="margin-bottom: 25px;"><img width="64px" height="64px" src="/images/{{gallery_imgs['1']}}"><input class="form-control" type="file" style="margin-bottom: 25px;width: auto;display: inline-block;" name="gallery_1_img"><a class="btn btn-primary" role="button" style="display: inline;padding-top: 8px;padding-right: 12px;padding-bottom: 8px;padding-left: 12px;margin-left: 5px;" href="/gallery/delete/1"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-trash3-fill">
                                        <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"></path>
                                    </svg></a><input class="form-control" type="text" placeholder="Image Description" name="gallery_1" value="{{gallery_desc['1']}}"></div>
                            <div style="margin-bottom: 25px;"><img width="64px" height="64px" src="/images/{{gallery_imgs['2']}}"><input class="form-control" type="file" style="margin-bottom: 25px;width: auto;display: inline-block;" name="gallery_2_img"><a class="btn btn-primary" role="button" style="display: inline;padding-top: 8px;padding-right: 12px;padding-bottom: 8px;padding-left: 12px;margin-left: 5px;" href="/gallery/delete/2"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-trash3-fill">
                                        <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"></path>
                                    </svg></a><input class="form-control" type="text" placeholder="Image Description" name="gallery_2" value="{{gallery_desc['2']}}"></div>
                            <div style="margin-bottom: 25px;"><img width="64px" height="64px" src="/images/{{gallery_imgs['3']}}"><input class="form-control" type="file" style="margin-bottom: 25px;width: auto;display: inline-block;" name="gallery_3_img"><a class="btn btn-primary" role="button" style="display: inline;padding-top: 8px;padding-right: 12px;padding-bottom: 8px;padding-left: 12px;margin-left: 5px;" href="/gallery/delete/3"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-trash3-fill">
                                        <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"></path>
                                    </svg></a><input class="form-control" type="text" placeholder="Image Description" name="gallery_3" value="{{gallery_desc['3']}}"></div>
                            <div style="margin-bottom: 25px;"><img width="64px" height="64px" src="/images/{{gallery_imgs['4']}}"><input class="form-control" type="file" style="margin-bottom: 25px;width: auto;display: inline-block;" name="gallery_4_img"><a class="btn btn-primary" role="button" style="display: inline;padding-top: 8px;padding-right: 12px;padding-bottom: 8px;padding-left: 12px;margin-left: 5px;" href="/gallery/delete/4"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-trash3-fill">
                                        <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"></path>
                                    </svg></a><input class="form-control" type="text" placeholder="Image Description" name="gallery_4" value="{{gallery_desc['4']}}"></div>
                            <div style="margin-bottom: 25px;"><img width="64px" height="64px" src="/images/{{gallery_imgs['5']}}"><input class="form-control" type="file" style="margin-bottom: 25px;width: auto;display: inline-block;" name="gallery_5_img"><a class="btn btn-primary" role="button" style="display: inline;padding-top: 8px;padding-right: 12px;padding-bottom: 8px;padding-left: 12px;margin-left: 5px;" href="/gallery/delete/5"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-trash3-fill">
                                        <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"></path>
                                    </svg></a><input class="form-control" type="text" placeholder="Image Description" name="gallery_5" value="{{gallery_desc['5']}}"></div>
                            <div style="margin-bottom: 25px;"><img width="64px" height="64px" src="/images/{{gallery_imgs['6']}}"><input class="form-control" type="file" style="margin-bottom: 25px;width: auto;display: inline-block;" name="gallery_6_img"><a class="btn btn-primary" role="button" style="display: inline;padding-top: 8px;padding-right: 12px;padding-bottom: 8px;padding-left: 12px;margin-left: 5px;" href="/gallery/delete/6"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-trash3-fill">
                                        <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"></path>
                                    </svg></a><input class="form-control" type="text" placeholder="Image Description" name="gallery_6" value="{{gallery_desc['6']}}"></div>
                            <div style="margin-bottom: 25px;"><img width="64px" height="64px" src="/images/{{gallery_imgs['7']}}"><input class="form-control" type="file" style="margin-bottom: 25px;width: auto;display: inline-block;" name="gallery_7_img"><a class="btn btn-primary" role="button" style="display: inline;padding-top: 8px;padding-right: 12px;padding-bottom: 8px;padding-left: 12px;margin-left: 5px;" href="/gallery/delete/7"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-trash3-fill">
                                        <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"></path>
                                    </svg></a><input class="form-control" type="text" placeholder="Image Description" name="gallery_7" value="{{gallery_desc['7']}}"></div>
                            <div style="margin-bottom: 25px;"><img width="64px" height="64px" src="/images/{{gallery_imgs['8']}}"><input class="form-control" type="file" style="margin-bottom: 25px;width: auto;display: inline-block;" name="gallery_8_img"><a class="btn btn-primary" role="button" style="display: inline;padding-top: 8px;padding-right: 12px;padding-bottom: 8px;padding-left: 12px;margin-left: 5px;" href="/gallery/delete/8"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-trash3-fill">
                                        <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"></path>
                                    </svg></a><input class="form-control" type="text" placeholder="Image Description" name="gallery_8" value="{{gallery_desc['8']}}"></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <section>
        <div style="max-width: 1000px;margin: auto;">
            <h2 class="text-center">DNS Records</h2>
            <div class="table-responsive">
                <table class="table table-dark">
                    <thead>
                        <tr>
                            <th>Type</th>
                            <th>Name</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>A</td>
                            <td>@</td>
                            <td>{{ip}}</td>
                        </tr>
                        <tr>
                            <td>TLSA</td>
                            <td>_443._tcp</td>
                            <td>{{tlsa}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <p>You need to add these records to your domain after publishing your site</p>
        </div>
    </section>
    <footer class="bg-dark">
        <div class="container py-4 py-lg-5">
            <div class="row justify-content-center">
                <div class="col-sm-4 col-md-3 text-center text-lg-start d-flex flex-column">
                    <h3 class="fs-6 fw-bold">Services</h3>
                    <ul class="list-unstyled">
                        <li><a href="https://hnshosting.au" target="_blank">Wordpress Hosting</a></li>
                        <li><a href="https://firewallet.au" target="_blank">FireWallet</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 text-center text-lg-start d-flex flex-column">
                    <h3 class="fs-6 fw-bold">About</h3>
                    <ul class="list-unstyled">
                        <li><a href="https://hns.au" target="_blank">HNSAU</a></li>
                        <li><a href="https://nathan.woodburn.au" target="_blank">Nathan.Woodburn/</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 text-center text-lg-start d-flex flex-column align-items-center order-first align-items-lg-start order-lg-last">
                    <div class="fw-bold d-flex align-items-center mb-2"><span>HNS Links</span></div>
                    <p class="text-muted">Easy to manage links page on Handshake domains</p>
                </div>
            </div>
            <hr>
            <div class="text-muted d-flex justify-content-between align-items-center pt-3">
                <p class="mb-0">Copyright © {{year}} Nathan.Woodburn/</p>
            </div>
        </div>
    </footer>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://auth.varo.domains/v1"></script>
    <script src="/assets/js/script.min.js"></script>
</body>

</html>